.tab {
    float: left; 
    position: relative; 
    cursor: pointer; 
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    display: inline;
}

.tab1 {
    border-width: 1px 1px 0px; 
    border-style: solid; 
    border-color: rgb(204, 204, 204); 
    border-image: initial;
    padding: 3px 15px 1px;     
    z-index: 100;    
}

.tab2 {
    border: 1px solid rgb(204, 204, 204); 
    padding: 3px 15px;
    z-index: 99;
}

.tab3 {
    border: 1px solid rgb(204, 204, 204); 
    padding: 3px 15px;
    z-index: 98;
}

.i-animation {
    animation-name: _ibani_171;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}